<%- include("header")-%>

<h2>This is about page </h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quo quis, cum ut architecto illo doloribus inventore culpa expedita necessitatibus rerum. Temporibus, reiciendis laudantium cum velit optio fugiat enim obcaecati?
Magnam quos ut inventore placeat sed minima id laboriosam doloribus recusandae iure, voluptatum porro saepe nihil, earum adipisci provident aut eius sapiente odio? Amet fugit illum veritatis, saepe modi deleniti?
Impedit asperiores, ex quibusdam amet excepturi delectus quod sequi accusamus omnis sint exercitationem. Eaque, odit sed laboriosam officiis debitis quidem omnis delectus, nisi totam maxime ex eveniet laudantium quis blanditiis.
Non natus sintluta, tempore libero mollitia molestiae minima modi temporibus! Et, deserunt fugiat aspernatur voluptate, inventore commodi ullam maiores quo sapiente accusamus ex?
Dicta laboriosam, exercitationem modi enim optio dolorum harum maxime rerum porro odit distinctio consequatur doloremque quia quaerat, nihil cum! Modi nulla consequatur praesentium. Mollitia recusandae vel obcaecati eveniet aliquid maxime!
Odio fugit minus maiores. Corporis reiciendis officiis velit atque. Quod ea dolore quos tempore tempora facilis qui blanditiis reiciendis doloremque nulla corrupti perspiciatis, suscipit ipsum. Aliquam maiores beatae fugiat ratione!
Odio unde quas m distinctio obcaecati voluptatibus temporibus veritatis earum praesentium, dolor repellendus exercitationem provident. Exercitationem repudiandae autem iure doloremque. Adipisci aspernatur laboriosam ipsa perferendis nostrum.
Voluptate id placeat repellat iste harum alias magnam! Ut recusandae vero tempore pariatur? Distinctio consectetur officia neque accusantium reprehenderit, delectus soluta doloribus iste nemo corporis mollitia illo, sequi excepturi esse!
</p>
<%- include('footer')-%>